<div class="main">
  <div class="inner">
    <%= render partial: "form" %> <!-- _form.html.erb を呼び出す -->
    <div class="form__wrapper">
      <h2 class="page-heading"></h2>
      <%# 部分テンプレートでフォームを表示する %>
    </div>
  </div>
</div>
